<%= form_for(@unisys_news) do |f| %>
  <% if @unisys_news.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@unisys_news.errors.count, "error") %> prohibited this unisys_news from being saved:</h2>

      <ul>
      <% @unisys_news.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :link %><br>
    <%= f.text_field :link %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :category %><br>
    <%= f.text_field :category %>
  </div>
  <div  class="field">
    <%= f.label :image %><br>
     <%= f.file_field :image %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
